body {background-color: rgb(164,200,210);}
hr {
    height: 4px;
    margin-left: 15px;
    margin-bottom:-3px;
  }

.box {
    min-height: 50px;
    padding: 10px;
    margin: 0px;
    font-weight: 800;
    color: #fff;
    border-radius: 10px;
  }

.white {
    background: white;
  }
  
img.largeSquare {
    width: 500px;
    height: 500px;}
img.mediumSquare {
    width: 250px;
    height: 250px;}
img.smallSquare {
    width: 100px;
    height: 100px;}
img.mediumPortrait {
    width: 220px;
    height: 360px;}
img.mediumLandscape {
    width: 360px;
    height: 220px;}
